$color-white: white;
$color-red: red;
$color-gray: gray;

* {
  box-sizing: border-box;
}

.container {
  > img {
    width: 100%;
    height: 600px;
  }

  &__card {
    background-color: white;

    padding: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -400px;

    &__info {
      > img {
        width: 30px;
      }

      > h4 {
        color: $color-red;

        margin: 0;
      }

      > h1 {
        font-size: 25px;
      }

      > p {
        color: $color-gray;
      }

      > span {
        font-weight: bold;
        font-size: 25px;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    > img {
      width: 100%;
      height: 600px;
    }

    &__card {
      width: 400px;
      margin-left: 200px;
    }
  }
}
