$color-white: white;
$color-yellow: #f89d13;
$color-gray: #343a40;

* {
  box-sizing: border-box;
}

.container {
  background-image: url(/img/img.jpg);
  width: 100%;
  height: 500px;
  background-attachment: fixed;

  &__title {
    color: $color-white;

    position: relative;
    top: 35%;
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    text-transform: uppercase;
  }

  &__button {
    position: relative;
    top: 40%;
    display: flex;
    justify-content: center;
    width: 100%;

    > button {
      color: $color-white;
      background-color: $color-yellow;

      border: none;
      cursor: pointer;
      font-size: 18px;
      padding: 10px 20px;
      text-transform: uppercase;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    &__box {
      display: flex;
      flex-direction: column;
      position: relative;

      &__card {
        background-color: $color-yellow;

        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 30px;

        > img {
          width: 60px;
        }

        > p {
          color: $color-white;

          margin: 0;
          width: 60%;
          text-align: center;
        }

        > h2 {
          color: $color-white;

          text-transform: uppercase;
        }
      }

      &__card.gray {
        background-color: $color-gray;

        label {
          color: $color-white;
          padding: 5px 0;
        }

        input {
          background-color: $color-gray;
          border: 1px solid $color-white;

          margin: 10px 0;
          padding: 10px;
        }

        input:placeholder-shown {
          font-style: italic;
        }

        button {
          color: $color-white;
          background-color: $color-yellow;

          padding: 15px 60px;
          text-transform: uppercase;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    height: 700px;

    &__title {
      font-size: 70px;
    }

    &__wrapper {
      &__box {
        flex-direction: row;
        width: 70%;
        margin-top: -5%;
      }
    }
  }
}
