.container > p {
  color: gray;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.container > h1 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 20px;
}
.container ul,
.container li {
  margin: 0;
  list-style: none;
  padding: 0;
  text-transform: uppercase;
  text-align: center;
}
.container li:hover {
  background-color: #ffb600;
}
.container__wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.container__wrapper__card {
  width: 100%;
  position: relative;
}
.container__wrapper__card > img {
  vertical-align: top;
  height: 30vh;
  width: 100%;
}
.container__wrapper__card__info {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  visibility: hidden;
}
.container__wrapper__card__info__icon {
  background-color: #ffb600;
  display: inline-block;
  position: absolute;
  right: 0;
}
.container__wrapper__card__info__icon > img {
  width: 20px;
  padding: 5px;
}
.container__wrapper__card__info > h3 {
  color: white;
  padding: 150px 0 0 30px;
  text-transform: uppercase;
}
.container__wrapper__card__info > button {
  background-color: #ffb600;
  padding: 8px 5px;
  margin-left: 30px;
  cursor: pointer;
  text-transform: uppercase;
}
.container__wrapper .container__wrapper__card:hover > img {
  filter: brightness(50%);
}
.container__wrapper .container__wrapper__card:hover .container__wrapper__card__info {
  visibility: visible;
}

.footer-container {
  background-color: black;
}
.footer-container__wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px;
}
.footer-container__wrapper__card {
  width: 100%;
  padding-top: 20px;
}
.footer-container__wrapper__card > h2 {
  color: white;
  border-left: 3px solid #ffb600;
  margin: 0;
  text-transform: uppercase;
  padding-left: 15px;
}
.footer-container__wrapper__card > p {
  color: gray;
  margin: 0;
  line-height: 25px;
  padding: 20px 0;
}
.footer-container__wrapper__card__logo {
  display: flex;
  padding-top: 20px;
}
.footer-container__wrapper__card__logo > img {
  width: 40px;
}
.footer-container__wrapper__card__logo > p {
  color: white;
  margin: 0;
  margin-left: 5px;
  font-size: 40px;
  font-weight: bold;
}
.footer-container__wrapper__card__icon {
  padding-top: 20px;
}
.footer-container__wrapper__card__icon > img {
  width: 20px;
  margin-left: 10px;
}
.footer-container__wrapper__card__icon :first-child {
  margin-left: 0;
}
.footer-container__wrapper__card__time {
  display: flex;
  justify-content: space-between;
}
.footer-container__wrapper__card__time ul,
.footer-container__wrapper__card__time li {
  color: gray;
  list-style: none;
  padding: 0;
  padding-top: 5px;
}
.footer-container__wrapper__card__time ul :first-child,
.footer-container__wrapper__card__time li :first-child {
  padding-top: 0;
}
.footer-container__wrapper__card__time.services li {
  border-bottom: 1px solid gray;
  padding: 10px 0px;
}
.footer-container__wrapper__card__time.services :last-child {
  border-bottom: none;
}
.footer-container__wrapper__card__time.services ul {
  width: 100%;
}
.footer-container__end {
  background-color: #ffb600;
  height: auto;
  padding-bottom: 10px;
}
.footer-container__end > p {
  text-align: center;
  padding-top: 18px;
}
.footer-container__end ul,
.footer-container__end li {
  text-align: center;
  list-style: none;
  padding: 0;
  cursor: pointer;
}
.footer-container__end li:hover {
  color: white;
}
.footer-container__end__icon-top {
  background-color: black;
  display: inline-block;
  position: fixed;
  right: 30px;
  bottom: 25px;
}
.footer-container__end__icon-top > a,
.footer-container__end__icon-top img {
  padding: 5px;
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 20px 20px 0;
  }
  .container ul,
.container li {
    display: flex;
    padding: 15px;
    margin-right: 10px;
  }
  .container ul {
    padding: 0;
    border-bottom: 2px solid #ffb600;
  }
  .container__wrapper {
    padding-top: 40px;
  }
  .container__wrapper__card {
    width: 33.33%;
  }
  .container__wrapper__card > img {
    height: 40vh;
  }
  footer {
    padding: 0 20px;
  }
  footer .footer-container__wrapper {
    justify-content: space-around;
  }
  footer .footer-container__wrapper__card {
    padding: 10px;
    width: 25%;
  }
  footer .footer-container__end {
    display: flex;
    justify-content: space-around;
  }
  footer .footer-container__end > p {
    padding-top: 0;
  }
  footer .footer-container__end ul {
    display: flex;
  }
  footer .footer-container__end ul li {
    padding-left: 10px;
  }
  footer .footer-container__end__icon-top {
    bottom: 10px;
  }
}/*# sourceMappingURL=style.css.map */