$color-gray: gray;
$color-gray-light: #e8e8e8;
$color-red: #ee3c25;

.container {
  &__header {
    display: flex;
    padding: 10px 20px 30px;

    &__picture {
      > img {
        width: 20px;
        padding: 5px 5px 0 0;
      }
    }

    &__title {
      border-left: 1px solid $color-gray;

      padding-left: 5px;

      > h1 {
        margin: 0;
        text-transform: uppercase;
        font-size: 17px;
      }

      > p {
        color: $color-gray;

        margin: 0;
        text-transform: capitalize;
        font-size: 10px;
      }
    }
  }

  &__wrapper {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0 20px;

    &__card {
      border: 1px solid $color-gray;
      width: 100%;
      height: auto;
      margin-bottom: 40px;

      > button {
        border: 1px solid $color-red;

        border-radius: 50px;
        padding: 8px 30px;
        background-color: $color-gray-light;
        cursor: pointer;
        position: relative;
        margin: auto;
        display: block;
        top: 15px;
      }

      &__header {
        text-align: center;
        padding: 30px 0;

        > h3 {
          color: $color-gray;

          margin: 0;
        }

        > p {
          color: $color-gray;
          margin: 0;
        }
      }

      &__price {
        background-color: $color-gray-light;
        clip-path: polygon(
          0% 0%,
          100% 0%,
          100% 75%,
          54% 75%,
          48% 90%,
          43% 75%,
          0% 75%
        );

        text-align: center;
        padding: 30px 0 70px 0;
        font-size: 40px;
        margin: 0;

        > p {
          color: $color-gray;

          font-weight: bold;
          margin: 0;

          sup,
          sub {
            font-size: 18px;
          }
        }
      }

      &__price:hover {
        background-color: $color-red;
      }

      ul,
      li {
        color: $color-gray;
        margin: 0;
        text-align: center;
        list-style: none;
        padding: 0px;
        border-bottom: 1px dashed $color-gray;
        padding: 10px 0;
      }

      ul,
      li:last-child {
        border-bottom: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .container {
    padding: 100px;

    &__header {
      display: flex;

      &__picture {
        > img {
          width: 50px;
          padding: 5px 15px 0 0;
        }
      }

      &__title {
        padding-left: 15px;

        > h1 {
          font-size: 35px;
        }

        > p {
          font-size: 20px;
        }
      }
    }

    &__wrapper {
      justify-content: space-between;

      &__card {
        width: 24%;
        margin-top: nono;
      }
    }
  }
}
