$color-white: white;
$color-white-bg: #f8f9fa;
$color-green: #aee6bf;

.container {
  &__main-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

    > p {
      color: $color-green;

      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin: 0;
      width: 100%;
      padding-top: 80px;
      font-size: 18px;
    }

    > h2 {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      margin: 0;
      width: 100%;
      padding-top: 20px;
      font-size: 36px;
    }

    &__card {
      width: 25%;
      height: 100%;
      box-sizing: border-box;

      > img {
        width: 100%;
        height: 400px;
      }

      &__parent {
        &__info {
          background-color: $color-white-bg;
          position: relative;
          margin-top: -60px;
          width: 85%;
          padding: 20px;
          margin-left: auto;

          > button {
            background-color: $color-green;

            border: none;
            margin-top: 20px;
            color: $color-white;
            font-weight: bold;
            padding: 8px 10px;
            cursor: pointer;
          }

          > h2 {
            margin: 0;
            padding-bottom: 20px;
          }

          &__box {
            padding: 5px 0;

            > img {
              width: 20px;
            }

            > span {
              margin-left: 10px;
              font-size: 15px;
            }
          }

          &__box-1 {
            padding: 5px 0;

            > img {
              width: 20px;
            }

            > span {
              color: $color-green;
              margin-left: 10px;
              font-size: 15px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .container {
    &__main-section {
      &__card {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
      }
    }
  }
}
